
$c-button-white-background-color: $white !default;
$c-button-white-text-color: $primary !default;

$c-button-white-background-color-hover: $grey !default;
$c-button-white-background-color-active: $grey2 !default;


$c-button-primary-background-color: $primary !default;
$c-button-primary-text-color: $white !default;
$c-button-primary-border-color: $white !default;

$c-button-primary-text-color-hover: $grey;
$c-button-primary-border-color-hover: $grey;
$c-button-primary-text-color-active: $grey2;
$c-button-primary-border-color-active: $grey2;


$c-button-focus-color: $focus-color !default;



.c-button {
    @include c-button;


    &--block {
        width: 100%;
        display: block;
    }

    &--white {
        background-color: $c-button-white-background-color;
        color: $c-button-white-text-color;

        &:hover {
            background-color: $c-button-white-background-color-hover;
            color: $c-button-white-text-color;
        }

        &:visited {
            background-color: $c-button-white-background-color;
            color: $c-button-white-text-color;
        }

        &:active {
            background-color: $c-button-white-background-color-active;
            color: $c-button-white-text-color;
        }
    }

    &--primary {
        background-color: $c-button-primary-background-color;
        color: $c-button-primary-text-color;
        border-color: $c-button-primary-border-color;

        &:hover {
            color: $c-button-primary-text-color-hover;
            border-color: $c-button-primary-border-color-hover;
        }

        &:visited {
            background-color: $c-button-primary-background-color;
            color: $c-button-primary-text-color;
            border-color: $c-button-primary-border-color;
        }

        &:active {
            color: $c-button-primary-text-color-active;
            border-color: $c-button-primary-border-color-active;
        }


    }


   @include focus-style;
}