.c-site-section {
    position: relative;
    padding: 60px 0;
    overflow: hidden;


    &--heading {
        padding-top: 80px;
    }

    &--blueprint {
        background-color: $primary;
        // background: url('#{$img-dir}/graph-paper.svg') $primary repeat;
        color: $white;
    }

    &--heading {
        background: url('#{$img-dir}/impossible-ideas.png') $primary repeat;
        background-size: cover;
        color: $white;
    }


    &--primary {
        background-color: $primary;
        color: $white;
    }


    &--fg-blue {
        background-color: $fg-blue;
        color: $white;
    }

    &--grey {
        background-color: $light-grey;
    }

    &__blueprint-image {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-repeat: repeat;
    }
}
