$focus-color: #F2B413;
$primary: #1813F2;
$secondary: #000000;
$light-grey: #EFEFF0;
$lightest-grey: hsl(0, 0%, 94%);
$grey: #EAEAF4;
$grey2: #D6D5E9;
$white: #FFFFFF;
$black: #000000;


$img-dir: "../img";

$font-family-sans-serif: "AvenirLTStd-Roman", avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$font-family-sans-serif-bold: "AvenirLTStd-Heavy", "AvenirLTStd-Roman", avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;


$text-color: $black;
$link-color: $primary;
